<div class="flex">
  <div class="w-10 h-10 rounded-full bg-green-600 flex-shrink-0 flex items-center justify-center">
    <span class="font-medium">JS</span>
  </div>
  <div class="ml-4">
    <div class="flex items-center">
      <span class="font-medium text-white"><%= message.user.username%></span>
      <span class="ml-2 text-xs text-gray-400"><%= display_time message.created_at %></span>
    </div>
    <div class="mt-1 text-gray-300">
      <%= message.content%>
    </div>
  </div>
</div>

